@import"/variables.scss";
@import "/mixins.scss";
    
}
body{
    @include background-color($background-color);
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#content-width{
    width: 85%;
    margin: auto;
}
@media only screen and (max-width:770px)
{
    header{
        div{
            @include display(grid);
            grid-template-columns: 50% 50%;
        } 
    } 
    #nav_item{
        div{
            align-items: center;
        }
    }
}
@media only screen and (min-width:770px)
{
    #nav_item{
        @include display(grid);
        grid-template-columns: 60% 40%;
    }
    header{
        ul{
            display: flex;
            li{
                margin: auto;
            }
        }
    } 
}
header{
    img{
        width: 20px;
    }
} 
#bg{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#login{
    @include display(flex);
    float: right;
    a{
        color: $white;
        font-weight: bold;
        margin: $unit;
        padding: $unit;
    }
}
.banner{
    p {
        text-align: center;
        @include color($white);
        font-size:30px;
        padding: 2%;
    }
    img{
        display: block;
       margin: auto;
        width:100px;
        margin-top: 12%;
    }
}
.search-restaurant{
    margin: auto;
}
@media screen and (max-width:770px)
{
    .pune{
        width: 80%;
        margin-bottom: $unit;
        margin-left: 10%;
      }
      #search-rest{
        padding:$unit;
        @include border-radius(5px);
        width: 80%;
        margin-left: 10%;
        margin-bottom: $unit;
    }
    #search-btn{
        padding:$unit;
        @include border-radius($unit);
        @include background-color($Fire);
        @include color($white);
        width: 80%;
        margin-left: 10%;
        margin-bottom: $unit;
    }  
}
#search-btn:hover{
    @include background-color(#660000);
}
@media only screen and (min-width:770px)
{
    .pune{
        width: 40%;
        padding: $unit;
        margin-bottom: $unit;
    } 
    #search-rest{
        padding:$unit;
        @include border-radius(5px);
        width: 100%;
        margin-bottom: $unit;
    }
    #search-btn{
        padding:$unit;
        @include border-radius($unit);
        @include background-color($Fire);
        @include color($white);
        width: 40%;
        margin-bottom: $unit;
    }  
}
@media screen and (max-width:768px)
{
    #ad{
        @include display(none);
       }
}
  #ad{
      width: 100%;
  }
  .collection img{
    width:100%;
    height: 100%;
}
.collection{
    @include display(grid);
    grid-template-columns:50% 50%;
    @include background-color($white);
    @include border-radius(5px);
    margin:10px;
    height: 140px;
    margin-right: 0;
    margin-left: 0;
}
#all{
    background-color: $white;
    padding: 2%;
    text-align: center;
    width: 100%;
    @include color($Fire);
    @include border-radius(5px);
}
#all:hover{
    @include color(#660000);
}
.order{
    height: 100%;
}
.widget{
    @include background-color($white);
    width:100%;
    @include border-radius($unit);
    p{
        @include color($Salem);
        margin: 10%;
        margin-bottom:100px;
    }
    .search-del{
        width:75%;
        margin-left: 2%;
    }
    .order-btn{
        width: 90%;
        @include border-radius($unit);
        @include background-color($Salem);
        @include color($white);
        padding: 2%;
        margin: $unit;
    }
}
.order-btn:hover{
    @include background-color(rgb(6,110,47));
}
#swapnil{
    background-color: $white;
    border-radius: $unit;
    a{
        @include display(block);
        margin: $unit;
        @include color($Fire);
        text-align: center;
    }
}
#swapnil a:hover{
    color: #660000;
}
.category-list{
    @include background-color($white);
    div{
        display: flex;
        li{
            margin-right: auto;
            img{
                width: 70px;
            }
        }
    }  
}
.localities-list{
    @include background-color($white);
    div{
        padding-bottom: $unit;
    }
    li{
        text-align: center;
    }
}
.app{
    @include background-color($white);
    div{
        button{
            @include background-color($Salem);
            @include color($white);
            @include border-radius(5px);
            padding: $unit;
        }
    }
}
.app div button:hover{
    @include background-color($Salem);
}
.iphone{
    width: 60%;
    margin-left:20%;
}
.zomato-app p{
    margin-top: 3%;
}
.number{
    @include display(inline-flex);
   border: .5px solid black;
   padding: $unit;
}
.number-1{
    padding: $unit;
    width: 45%;
}
.email{
    padding: $unit;
    width: 55%;
}
.pay{
    margin-top: $unit;
    display: inline-flex;
}
.pay-apple{
    margin-left:0;
    width: 30%;
}
.pay-google{
    margin-left:2%;
    width: 30%;
}
.visitors{
    color: $gray ;
}
@media only screen and (max-width:768px){
    .visitors{
        display: none;
    }
}
footer{
    @include background-color($black);
    @include color($gray);
    margin-top:10px;
}
.footer-wrapper{
    width: 90%;
    margin: auto;
}
.footer-1 img{
width:100px;
}
.down-drop{
    margin-top: 20px;
    float: right;
}
.footer-3{
    display: flex;
    li{
        margin: 1%;
        a{
            color:  $gray;
        }
    }
}
.social-plugin{
   height: 30px;
   align-items: center;
}
.hr{
    border: 1px solid  $gray;
}
